/*comienza menu*/
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px; }

.button-primary {
  position: relative;
  background-color: #c0ca33;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1; }

.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.header-area {
  position: relative;
  height: 5px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover; }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999; }

.navbar .navbar-brand {
  font-family: arial, helvetica,sans-serif;
  font-size: 2.5rem; }

.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none; }

.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 10px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in; }

.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 0;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg); }

.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg); }

.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1; }

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0); }

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0); }

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #d63031; }

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9); }

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: color 0.2s ease-in; }

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none; }

.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #d63031; }

.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #d63031;
  opacity: 0;
  transition: opacity 0.2s ease-in; }

.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1; }

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, 0.9); }

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #d63031; }

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #d63031; }

.content {
  padding-top: 73px;
  padding-bottom: 20px 0px; }

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px; }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.9); }
  .navbar.fixed-top .navbar-nav {
    background: transparent; }
  .navbar-expand-md {
    flex-flow: row wrap; }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem; } }

@media screen and (min-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px; }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: #d63031;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in; }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; } }

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.9); }
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal; } }

@media only screen and (max-width: 992px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.9); }
  .navbar-nav a {
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer; } }

@media only screen and (max-width: 1200px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.9); }
  .navbar-nav a {
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer; } }

@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1); }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1); }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

/*termina menu*/
/*carusel*/
.carousel-item {
  height: auto;
  min-height: 300px;
  max-height: 720px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 75px; }

.carousel-caption {
  bottom: 120px; }

.carousel-caption h5 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 2px #000; }

.carousel-caption p {
  width: 100%;
  margin: auto;
  font-size: 1.4rem;
  line-height: 1.9;
  text-shadow: 1px 2px #000; }

.carousel-caption a {
  text-transform: uppercase;
  background: #202020;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
  border-radius: 10%; }

@media only screen and (max-width: 767px) {
  .carousel {
    margin-top: 3rem; } }

/*lanzamientos*/
h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #e7eff0;
  text-align: center;
  animation-duration: 6s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*termina lanzamientos*/
/*comienza entrevista*/
.entrevista__tittle {
  text-align: center;
  justify-content: center; }

.entrevista__text {
  padding-top: 15px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 3px;
  word-spacing: 10px;
  color: #e7eff0;
  text-align: center;
  justify-content: center; }

/*termina entrevista*/
.nosotros__container {
  text-align: center;
  margin-top: 40px; }

.nosotros__parrafo {
  font-size: 1.5rem;
  letter-spacing: 2px;
  word-spacing: 20px;
  color: #e7eff0; }

/*-----termina sobrenosotros-----*/
/*-------footer--------*/
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.footer__socialNetworks a {
  display: inline-flex;
  color: #ffffff;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 6px;
  transition: transform 0.5s;
  margin-top: 120px; }

.footer__socialNetworks a:hover {
  transform: scale(1.3); }

.footer__text {
  padding-bottom: 40px;
  font-size: 15px;
  text-align: center;
  color: white; }

/*-------termina footer--------*/
/*contacto*/
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

ul {
  list-style: none;
  padding: 0; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
  font-size: 1.1rem; }

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* contact info */
.contact-info {
  background: black;
  color: white; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/* responsive */
@media only screen and (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

.section__container {
  width: 80%;
  text-align: center; }

.section__tittle {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 30px; }

.section__tittle--main {
  text-align: center;
  margin-bottom: 30px; }

.section__parrafo {
  font-size: 1.3rem;
  margin-bottom: 5px;
  line-height: 35px;
  padding: 5rem 5rem 5rem 5rem; }

.section__column {
  text-align: center;
  margin-top: 20px;
  justify-content: center; }

.section__text {
  text-align: left;
  padding: 5px;
  font-size: 1rem;
  color: #000; }

.section__foto {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center; }

.section__card {
  background-color: #474747;
  width: 100%;
  height: auto;
  transition: all 0.25s;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  margin: 0.2rem; }

.section__card:hover {
  transform: translateY(-10px);
  border: 1px solid #d63031;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0; }

body {
  background: #000;
  font-family: arial, helvetica,sans-serif;
  font-size: 1.5rem;
  padding: 0 0.1em;
  color: #fff; }

.logo {
  width: 100%;
  max-width: min-content;
  height: auto; }

.fondo-contact {
  background-color: black;
  background: url(../img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.fondo-nosotros {
  background-color: black;
  background: url(../img/kolpos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.fondo-index {
  background-color: black;
  background: url(../img/fondo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.fondo-lanzamiento {
  background-color: black;
  background: url(../img/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.fondo-entrevistas {
  background-color: black;
  background: url(../img/fondo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.fondo-podcast {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #d6e3f0;
  /* emoji don't behave like regular fonts
       so this helped position it correctly */
  padding: 0.25rem; }

.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 0.25rem;
  bottom: -5em;
  width: 3em;
  pointer-events: none; }

.back-to-top-link {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem); }
