/*comienza entrevista*/

.entrevista__tittle{
    text-align: center;
    justify-content: center;
}
.entrevista__text{
    padding-top: 5px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.3px;
    word-spacing: 10px;
    color: rgb(231, 239, 240);
    text-align: center;
    justify-content: center;
}



/*termina entrevista*/

