/*comienza entrevista*/

.entrevista__tittle{
    text-align: center;
    justify-content: center;
}


.entrevista__text{
    text-align: center;
    font-family:  'Zen Dots',sans-serif, italic;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: rgb(231, 239, 240);
    text-align: center;
    justify-content: center;
}
/*termina entrevista*/

