/*-------footer--------*/

.footer{
    display: flex;
    align-items:flex-start;
    justify-content:center;
}

.footer__socialNetworks a{
    display: inline-flex;
    color: #ffffff;
    height: 48px;
    width: 48px;

    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.5s;
    margin-top: 100px;
}

.footer__socialNetworks a:hover {
    transform: scale(1.3);
}



.footer__text{
    padding-bottom: 25px;
    font-size: 15px;
    text-align: center;
    color: white;
}
/*-------termina footer--------*/
