//*---- nosotros----*/

.nosotros__container{
    text-align:center;
    margin-top: 40px;
}

.nosotros__parrafo{
    font-size: 24px;
    letter-spacing: 5px;
    word-spacing: 20px;
    color: rgb(231, 239, 240);
}

/*-----termina sobrenosotros-----*/