
.section__container{
    width:70%;
    text-align: center;
}

.section__tittle{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 30px;
}

.section__column{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.section__text{
    text-align: left;
    padding: 5px;
    font-size: 1rem;
    color: #000;
}

.section__foto{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.section__card{
    background-color: #474747;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    transition: all 0.25s;
    margin: 1rem;
    padding: 0.3rem;
    
}

.section__card:hover{
    transform: translateY(-10px);
    border: 1px solid #c0ca33;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}