@import "menu";
@import "lanzamientos";
@import "entrevista";
@import "nosotros";
@import "footer";
@import "contacto";
@import "section";
@import "variables";

*{
    margin: 0;
    padding: 0;
}

body{ 
    background:  #000;
    font-family: arial, helvetica,sans-serif; 
    font-size: 1.5rem;
    padding: 0 0.1em;
    color: #fff;
}

.logo{ 
    width: 100%;
    max-width: min-content;
    height: auto;
}

.fondo-contact{
    background-color: black;
    background:url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.fondo-nosotros{
    background-color: black;
    background:url(../img/kolpos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.fondo-index{
    background-color: black;
    background:url(../img/fondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}     

.fondo-lanzamiento{
background-color: black;
background:url(../img/fondo3.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;}

.fondo-entrevistas{
    background-color: black;
background:url(../img/fondo4.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
}

.fondo-podcast{
    background-color: black;

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
}

//backtotop

.back-to-top-link {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #d6e3f0;
    /* emoji don't behave like regular fonts
       so this helped position it correctly */
    padding: 0.25rem;
  }

  $scrollLength: 100vh;

  .back-to-top-wrapper {
    // uncomment to visualize "track"
    // outline: 1px solid red;
    position: absolute;
    top: $scrollLength;
    right: 0.25rem;
    // Optional, extends the final link into the
    // footer at the bottom of the page
    // Set to `0` to stop at the end of `main`
    bottom: -5em;
    // Required for best support in browsers not supporting `sticky`
    width: 3em;
    // Disable interaction with this element
    pointer-events: none;
  }

  .back-to-top-link {
    // `fixed` is fallback when `sticky` not supported
    position: fixed;
    // preferred positioning, requires prefixing for most support, and not supported on Safari
    // @link https://caniuse.com/#search=position%3A%20sticky
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - 5rem);
  
    // ... styles written earlier
  }