@import "menu";
@import "lanzamientos";
@import "entrevista";
@import "nosotros";
@import "footer";
@import "contacto";
@import "section";
@import "variables";

*{
    margin: 0;
    padding: 0;
}

body{ 
    background:  #000;
    font-family: arial, helvetica,sans-serif; 
    font-size: 1.5rem;
    padding: 0 0.1em;
    color: #fff;
}

.logo{ 
    width: 100%;
    max-width: min-content;
    height: auto;
}

.fondo-contact{
    background-color: black;
    background:url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.fondo-nosotros{
    background-color: black;
    background:url(../img/kolpos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.fondo-index{
    background-color: black;
    background:url(../img/fondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}     

.fondo-lanzamiento{
background-color: black;
background:url(../img/fondo3.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;}

.fondo-entrevistas{
    background-color: black;
background:url(../img/fondo4.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
}

.fondo-podcast{
    background-color: black;

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
}

//backtotop
